<h3>Lista de Tareas</h3>

<!-- <form (submit)="filtrar()">
    <input name="buscar" type="text" [(ngModel)]="buscar">
    <button>Buscar</button>
</form> -->


<div id="fila">
    <div>
        <app-data-list (onSelected)="seleccionarTarea($event)" [items]="tareas" [columns]="columnas" [item]="tareaSeleccionada"></app-data-list>
    </div>
    <div>        
        <h2>Datos de la Tarea</h2>
        <ng-container *ngIf="tareaSeleccionada.title">
            <input type="text" [(ngModel)]="tareaSeleccionada.title">
            <strong>Titulo: </strong> <span>{{tareaSeleccionada.title}}</span><br>
            <strong>Status: </strong> <span>{{tareaSeleccionada.completed ? 'Terminada' : 'Pendiente'}}</span>
            <br><br>

            <button mat-raised-button color="primary" (click)="limpiarTarea()">Limpiar</button>
            
        </ng-container>
        <div *ngIf="!tareaSeleccionada.title">Selecciona una tarea</div>
    </div>
</div>


