/* You can add global styles to this file, and also import other style files */
@import 'sass/colores';

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
}

p {
    color: red;
}


button {
    background-color: $primary-color;
}